<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>{{ title }}</title>
    </head>

    <body>
    {% include 'menu.html' %}
    <h1>{{ main_header }}</h1>
    <h2>Голосования для "{{ user.username }}"</h2>
        <table border="0" cellpadding="0" class="table table-striped" cellspacing="10" style="text-align: center">
            <thead class="thead-dark">
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Автор</b></td>
                    <td><b>Название</b></td>
                    <td><b>Описание</b></td>
                    <td><b>от</b></td>
                    <td><b>до</b></td>
                </tr>
            </thead>
            <tbody>
            {% for item in votings %}
                <tr>
                    <td><a href="/voting/{{ item.id }}">{{ item.id }}</a></td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.descr }}</td>
                    <td>{{ item.from_date }}</td>
                    <td>{{ item.till_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<script>
    function get_snippets(){
        let a = document.getElementById('fff');
        document.location = '/votings/'+ a.value;
    }
</script>
    </body>
</html>