<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>{{ title }}</title>
    </head>

    <body>
     {% include 'menu.html' %}
        <h1>{{main_header}}</h1>
        <hr>
        <p>Добро пожаловать {{ user }}</p>
        <p>Сейчас (по Гринвичу): {{ current_time }}</p>
        <img src="static/I-voted-sticker-CBS-News.jpg">
    </body>
</html>
