<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/vote.css">
    <title>{{ title }}</title>
</head>
<body>
    {% load static %}
    {% include 'menu.html' %}
    <h1>{{ title }}</h1>
    <form action="/monly" method="POST">
        {% csrf_token %}
        <table border="0" cellpadding="0" cellspacing="10">
            <tr>
                <td><p>Название:</p></td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td><p>Описание:</p></td>
                <td>{{ form.descr }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Создать"></td>
            </tr>
        </table>
    </form>
</body>
</html>