<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");</script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>{{ title }}</title>
    </head>

    <body>
    {% include 'menu.html' %}
    <h1>{{ main_header }}</h1>
    <h2>Варианты для "{{ user.username }}"</h2>
    {% if areu %}
        <form action="/voting/{{ voting_id }}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><p>Вариант:</p></td>
                <td>{{ form.text }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Создать"></td>
            </tr>
        </table>
        </form>
    {% endif %}
    <table border="0" cellpadding="0" class="table table-striped" cellspacing="10" style="text-align: center">
        <thead bgcolor="'#ffffff">
            <tr>
                <th>ID Голосования</th>
                <th>ID</th>
                <th>Текст</th>
            </tr>
        </thead>
        <tbody>
        {% for item in variants %}
            <tr>
                <th>{{ voting_id }}</th>
                <td>{{ item.id }}</td>
                <!-- Vote page -->
                <td><a>{{ item.text }}</a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>